/* 
최초 작성일 : 2021.05.19
수정일 : 2012.05.24 
*/
table{
	width: auto;
	margin: auto;
	text-align: center;
	color: #4c4c4c;
	FONT-FAMILY: 굴림,verdana,tahoma;
	FONT-SIZE: 10pt; 
	background-color: #ececec;
	border-radius: 5px;
}
p{
	text-align: center;
}
td{
	width: auto;
	min-width: 50px;
	font-family:inherit;
	font-size: inherit;
}
.t1{
	background-color: #e2e2e2;
	border-radius: 10px;
}
font {
	size: 4px;
	color: gray;
}
.f1{
	size: 4px;
	color: #ff4646;
}
.f2{
	size: 4px;
	color: blue;
}
/* input[type=text], input[type=password]{
	text-align: left;
	width: 300px;
	border: 1px solid gray;
	color: #535353;
	font-family:inherit;
	font-size: inherit;
} */
.txt1{
	text-align: left;
	width: 150px;
	border: 1px solid gray;
	color: #535353;
}
/* input[type=button], input[type=reset]{
	text-align: center;
	width: auto;
	vertical-align: middle;
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
	font-weight: bold;
	color: #535353;
	FONT-FAMILY:inherit;
	LINE-HEIGHT: 150%;
} */
.btn1{
	text-align: center;
	width: auto;
	vertical-align: bottom;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	color: #535353;
	font-family:inherit;
	font-size: inherit;
	line-height: 140%;
}
textarea{
	text-align: left;
	width: 300px;
	height: 200px;
	font-family:inherit;
	font-size: inherit;
	color: #535353;
}
select{
	text-align: center;
	width: auto;
	vertical-align: middle;
	font-weight: lighter;
	font-family:inherit;
	font-size: inherit;
}
.iframe1{
	width:130px;
	height: 40px;
	border:0px;
	vertical-align: middle;
}
a:link{ 
	font-family:inherit;
	font-size: inherit;
	font-weight:bolder;
	text-decoration: none; 
	color: #4c4c4c;
}
a:hover, a:visited{
	/* background-color:#d2d2d2; */
	text-decoration:underline;
	color: #4c4c4c;
	font-size:inherit;
}